header.header
  nav(class="navbar navbar-light bg-light")
    .menu__wrapper
      img(src="/assets/imgs/menu.png")
    .logo__wrapper
      a(href=routes.home)
        img(src="/assets/imgs/main-logo.png")
    .button__wrapper
      ul
        if !loggedUser
          li 
            a(href=routes.login) 로그인
          li
            a(href=routes.join) 지원하기
        else 
          li
            a(href=routes.logout) 로그아웃