.tutor-detail__image {
  img {
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: table;
  }
}
.tutor-detail__container {
  padding-left: 4%;
  padding-right: 4%;

  .tutor-detail__description {
    h2 {
      font-size: 25px;
      font-weight: 700;
      width: 85%;
    }
    display: flex;
    justify-content: space-between;
    .tutor-detail__type {
      font-size: 12px;
      font-weight: 700;
      color: white;
      border: 1px black solid;
      background-color: black;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center; /* align vertical */
    }
  }
  .tutor-detail__tags {
    li {
      border: 1px black solid;
      border-radius: 30%;
      display: inline;
    }
  }
}
